<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cafe.adriel.cryp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="cafe.adriel.cryp.App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar"
        android:supportsRtl="true"
        android:allowBackup="true">
        <activity android:name="cafe.adriel.cryp.view.wallet.list.WalletListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cafe.adriel.cryp.view.wallet.add.AddWalletActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"/>
        <activity android:name="cafe.adriel.cryp.view.qrcode.show.ShowQrCodeActivity"/>
        <activity android:name="cafe.adriel.cryp.view.qrcode.scan.ScanQrCodeActivity"/>
    </application>

</manifest>