<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cafe.adriel.cryp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:label="@string/cryp"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.NoActionBar"
        android:supportsRtl="true"
        android:allowBackup="true"
        tools:replace="android:label">

        <activity android:name=".view.wallet.list.WalletListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.wallet.add.AddWalletActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />

        <activity
            android:name=".view.wallet.show.ShowWalletActivity" />

        <activity
            android:name=".view.wallet.scan.ScanWalletActivity" />

        <activity
            android:name=".view.wallet.select.SelectCryptoActivity" />

        <activity
            android:name=".view.settings.SettingsActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>